In [1]:
import pandas as pd

In [8]:
m = pd.read_csv("May/mayL1.csv")
m["month"] = "May"
jn = pd.read_csv("June/juneL1.csv")
jn["month"] = "June"
jl = m = pd.read_csv("July/julyL1.csv")
jl["month"] = "July"
df = pd.concat([m,jn,jl])
df = df.iloc[:,1:]

In [9]:
df

,GROSSAMT,MRPAMT,NETAMT,QTY,DISCOUNTAMT,PROMOAMT,LEV1GRPNAME,month
0,82.176691,108.129692,81.518575,207.5450,65.811591,2595.300095,Men,July
1,18.542898,23.100033,18.463119,71.2936,7.977922,455.710655,Boys,July
2,21.824205,26.466869,21.752228,72.6282,7.197674,464.262039,Wester Women,July
3,10.547775,13.266409,10.509664,39.1215,3.811112,271.863408,Girls,July
4,10.722613,11.977042,10.688234,51.3479,3.437978,125.442367,Infant,July
5,24.718056,33.789436,24.619382,60.5592,9.867387,907.137979,Women Ethenic,July
0,77.228822,85.830790,71.426224,178.8191,580.259765,860.198816,Men,June
1,22.877482,26.131481,22.404847,86.6505,47.263495,325.399903,Boys,June
2,29.340559,32.222459,28.587247,91.7732,75.331210,288.190574,Wester Women,June
3,17.306528,19.143736,16.771190,57.9145,53.533737,183.720887,Girls,June
4,12.497497,13.112803,12.370457,58.6921,12.703995,61.530578,Infant,June
5,32.064409,38.314772,29.582907,68.7501,248.150174,625.036404,Women Ethenic,June
0,82.176691,108.129692,81.518575,207.5450,65.811591,2595.300095,Men,July
1,18.542898,23.100033,18.463119,71.2936,7.977922,455.710655,Boys,July
2,21.824205,26.466869,21.752228,72.6282,7.197674,464.262039,Wester Women,July
3,10.547775,13.266409,10.509664,39.1215,3.811112,271.863408,Girls,July
4,10.722613,11.977042,10.688234,51.3479,3.437978,125.442367,Infant,July
5,24.718056,33.789436,24.619382,60.5592,9.867387,907.137979,Women Ethenic,July

In [10]:
df.to_csv("temp.csv")

In [2]:
m = pd.read_csv("mayDf.csv")
jn = pd.read_csv("juneDf.csv")
jl = m = pd.read_csv("julyDf.csv")
df = pd.concat([m,jn,jl])
df = df.iloc[:,1:]

C:\Users\tanmay\AppData\Local\Temp\ipykernel_18224\2890431982.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  jn = pd.read_csv("juneDf.csv")

In [3]:
df.to_csv("VmartData.csv")